<template>
  <div>
    <h1>Main: {{ room }}!</h1>
    <nuxt-link to="/"> Go home </nuxt-link>
  </div>
</template>

<script>
export default {
  asyncData({ params }) {
    return { room: params.id }
  },
}
</script>
