<template>
  <div>
    <div class="cutout flex bg-gray-100 relative">
      <span v-show="rollText === ''" class="absolute opacity-20 top-1 text-sm">
        5d10
      </span>
      <input
        v-model="rollText"
        class="flex-auto bg-gray-100"
        @keyup.enter="roll"
      />
      <div
        class="flex-initial button text-lg font-medium bg-blue-500 ring-4"
        @click="roll"
      >
        Roll
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rollText: '',
      mapping: null,
      skillCheck: null,
      mapResult: null,
      workerScript: '',
      worker: null,
    }
  },

  computed: {
    parsedRoll() {
      const r = /^\s*(\d+)\s*[dD]\s*(\d+)\s*$/
      const matched = this.rollText.match(r)

      return matched
        ? { count: Number(matched[1]), sides: Number(matched[2]) }
        : null
    },
  },

  mounted() {
    const script = `
      onmessage = (msg) => {
        const mapper = eval(msg.data.mapping)
        const result = mapper(msg.data.dice)

        postMessage(result)
      }
    `
    const blob = new Blob([script], { type: 'application/json' })

    this.workerScript = URL.createObjectURL(blob)
    this.worker = new Worker(this.workerScript)
    this.worker.onmessage = (msg) => {
      this.mapResult = msg.data
    }
  },

  destroyed() {
    this.worker.onmessage = undefined
    this.worker.terminate()
    URL.revokeObjectURL(this.workerScript)
  },

  methods: {
    roll() {
      if (!this.parsedRoll) return null

      const dice = []

      for (let i = 0; i < this.parsedRoll.count; i++) {
        dice.push(this.rollD(this.parsedRoll.sides))
      }

      this.skillCheck = { name: 'Ad-Hoc', result: dice }
      this.$emit('roll', this.skillCheck)

      if (this.mapping) {
        this.eval(this.skillCheck, this.mapping)
      }
    },

    rollD(sides) {
      const value = Math.floor(Math.random() * sides) + 1
      return { value, sides }
    },

    eval(dice, mapping) {
      this.worker.postMessage({ dice, mapping })
    },
  },
}
</script>
