<template>
  <div v-if="hasHistory" class="card">
    <h1 class="text-3xl font-bold underline mb-3">History</h1>
    <div
      v-for="(roll, i) in reverseRolls"
      :key="i"
      :class="{ 'bg-blue-300 shadow py-1 px-2': isSelected(i) }"
      class="mb-2 rounded cursor-pointer"
      @click="select(i)"
    >
      <h2 class="text-lg font-bold">{{ roll.name }}:</h2>
      {{ summary(roll) }}
    </div>
  </div>
</template>

<script>
import GeneralLenses from '@/mixins/generalLenses'

export default {
  mixins: [GeneralLenses],

  data() {
    return {
      rolls: [],
      selectedIndex: 0,
    }
  },

  computed: {
    hasHistory() {
      return this.rolls.length > 0
    },

    reverseRolls() {
      return [...this.rolls].reverse()
    },
  },

  methods: {
    select(index) {
      this.selectedIndex = index
      this.$emit('input', this.reverseRolls[index])
    },

    isSelected(index) {
      return index === this.selectedIndex
    },

    summary(roll) {
      return Object.entries(this.summarize(roll))
        .map((c) => `${c[1]}: "${c[0]}"`)
        .join(', ')
    },

    addRoll(roll) {
      this.rolls.push(roll)
      this.select(0)
    },
  },
}
</script>
