<template>
  <div class="scene-selector h-12">
    <div
      class="scene-selector--spinner card relative w-12 h-12 bg-blue-500 transform transition-transform"
      :class="rotation"
    ></div>
    <div
      class="scene-selector--btn card relative -top-12 w-12 h-12 bg-green-500 flex justify-center items-center cursor-pointer"
      @click="goToNextScene()"
    >
      <fa :icon="icon" class="scene-selector--icon text-white text-2xl" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'SceneSelector',

  props: {
    scenes: { type: Array, required: true },
  },

  data() {
    return {
      sceneIndex: 0,
    }
  },

  computed: {
    scene() {
      return this.scenes[this.sceneIndex]
    },

    nextScene() {
      return this.scenes[this.nextSceneIndex]
    },

    nextSceneIndex() {
      return (this.sceneIndex + 1) % this.scenes.length
    },

    icon() {
      return this.scene.icon
    },

    rotation() {
      const numerator = this.sceneIndex + 1
      return numerator === 16 ? '' : `rotate-${numerator}/16`
    },
  },

  mounted() {
    this.$store.commit('scene/set', this.scene)
  },

  methods: {
    goToNextScene() {
      this.sceneIndex = this.nextSceneIndex
      this.$store.commit('scene/set', this.scene)
    },
  },
}
</script>
