<template>
  <div v-if="hasSkillCheck" class="card">
    <div class="mb-6">
      <h1 class="text-xl font-medium underline mb-1">Roll</h1>
      <span class="text-lg font-medium">{{ skillCheck.name }}:</span>
      {{ rollString(skillCheck) }}
    </div>

    <div class="mb-6">
      <h1 class="text-xl font-medium underline mb-1">Details</h1>
      <div class="flex flex-wrap">
        <div v-for="(d, i) in skillCheck.result" :key="i">
          <span class="text-gray-600 text-xs">D{{ d.sides }}</span>
          <div class="dice">
            {{ d.value }}
          </div>
        </div>
      </div>
    </div>

    <div v-if="rollSummary" class="mb-6">
      <h1 class="text-xl font-medium underline mb-1">Summary</h1>
      <div class="flex flex-wrap">
        <span
          v-for="(count, value) in rollSummary"
          :key="value"
          class="flex items-baseline"
        >
          <div>
            <span class="text-gray-600 text-xs">{{ count }}</span>
            <div class="dice">{{ value }}</div>
          </div>
        </span>
      </div>
    </div>

    <div v-if="isExaltedRoll" class="mb-6">
      <h1 class="text-xl font-medium underline mb-1">Exalted Rules</h1>
      <span>{{ exaltedRollSummary }}</span>
    </div>
  </div>
</template>

<script>
import GeneralLenses from '@/mixins/generalLenses'
import ExaltedLenses from '@/mixins/exaltedLenses'

export default {
  mixins: [GeneralLenses, ExaltedLenses],

  props: {
    skillCheck: { type: Object, required: true },
  },

  computed: {
    hasSkillCheck() {
      return this.skillCheck !== null && this.skillCheck !== undefined
    },

    rollSummary() {
      return this.hasSkillCheck ? this.summarize(this.skillCheck) : null
    },

    isExaltedRoll() {
      return this.hasSkillCheck ? this.allD10s(this.skillCheck) : false
    },

    exaltedRollSummary() {
      return this.isExaltedRoll ? this.exaltedSummary(this.skillCheck) : null
    },
  },
}
</script>
