.card {
  @apply rounded-md shadow-md border border-dashed border-black border-opacity-10 p-3;
}

.cutout {
  @apply rounded-md shadow-inner border border-dashed border-black border-opacity-10 p-3;
}

.button {
  @apply rounded-md shadow-lg border border-dashed select-none border-black border-opacity-10 active:shadow-sm py-1 px-3 cursor-pointer hover:bg-opacity-80;
}

.dice {
  @apply rounded-md shadow-md border border-dashed border-black border-opacity-10 w-12 h-12 flex justify-center items-center mr-3 mb-3 text-lg font-black bg-green-500;
}
