<template>
  <div>
    <h1>Welcome to room {{ room }}!</h1>
    <nuxt-link to="/"> Go home </nuxt-link>
    <roller />

    <nuxt-child />
  </div>
</template>

<script>
export default {
  asyncData({ params }) {
    return { room: params.id }
  },
}
</script>
