<template>
  <main class="font-sans relative w-screen h-screen overflow-hidden">
    <nuxt-link to="/">Home</nuxt-link>
    <Nuxt ref="scene" keep-alive />
    <nuxt-link :to="sceneUrl">
      <scene-selector class="absolute z-50 bottom-8 right-8" :scenes="scenes" />
    </nuxt-link>
  </main>
</template>

<script>
import SceneSelector from '@/components/SceneSelector.vue'

export default {
  components: { SceneSelector },

  data() {
    return {
      scenes: [
        { name: 'Party', icon: 'users', uri: 'party' },
        { name: 'Rolls', icon: 'dice-d20', uri: 'rolls' },
        { name: 'Log', icon: 'scroll', uri: 'log' },
      ],
    }
  },

  computed: {
    room() {
      return this.$store.state.room.id
    },

    scene() {
      return this.$store.state.scene.current
    },

    sceneUrl() {
      if (this.scene !== null) {
        return `/room/${this.room}/${this.scene.uri}`
      } else {
        return '/'
      }
    },
  },
}
</script>
