<template>
  <div class="flex flex-column flex-wrap">
    <div class="w-1/2 pr-2 pb-2">
      <h1 class="text-5xl">Party&lt;=&gt;Room</h1>
    </div>

    <div class="w-1/2 pl-2 pb-2">
      <ad-hoc-roller @roll="addRoll" />
    </div>

    <div class="w-1/2 pr-2 pt-2">
      <roll-history ref="history" @input="setRoll" />
    </div>

    <div class="w-1/2 pl-2 pt-2">
      <skill-check-details :skill-check="currRoll" />
    </div>
  </div>
</template>

<script>
import AdHocRoller from '~/components/AdHocRoller.vue'
import SkillCheckDetails from '~/components/SkillCheckDetails.vue'
import RollHistory from '~/components/RollHistory.vue'

export default {
  components: { AdHocRoller, SkillCheckDetails, RollHistory },

  data() {
    return {
      currRoll: null,
    }
  },

  methods: {
    addRoll(roll) {
      this.setRoll(roll)
      this.$refs.history.addRoll(roll)
    },

    setRoll(roll) {
      this.currRoll = roll
    },
  },
}
</script>
